section#destinos {
    padding: 12.5rem 5%;
    .gridtable {
        display: grid;
        gap: 3.125rem;
        padding: .625rem;
        article {
            outline: 2px solid map-get($colores,claro);
            height: 25rem;
            background-size: cover;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.9;
            &.malibu {
                background-image: url('../assets/malibu.jpg');
                background-position: center;
            }
            &.tulum {
                background-image: url('../assets/tulum.jpg');
                background-position: center;
            }
            &.hawaii {
                background-image: url('../assets/hawaii.jpg');
                background-position: center;
            }
            &.phuket {
                background-image: url('../assets/phuket.jpg');
                background-position: center;
            }
            &.cerdeña {
                background-image: url('../assets/cerdeña.jpg');
                background-position: center;
            }
            &.mykonos {
                background-image: url('../assets/mykonos.jpg');
                background-position: center;
            }
            &:hover div {
                transform: translateY(-9.41rem);
            }
            div {
                font-size: 12px;
                text-transform: uppercase;
                font-family: 'Share Tech Mono';
                font-weight: 500;
                color: map-get($colores,acento);
                background: $fondoopacidad;
                width: -moz-fit-content;
                width: fit-content;
                padding: 5px 10px;
                transform: translateY(0rem);
                transition: all 1s ease;
                -webkit-backdrop-filter: blur(1.5px);
                backdrop-filter: blur(1.5px);
            }
            &:after {
                content: "";
                width: 100%;
                height: 75%;
                position: absolute;
                display: block;
                bottom: -18.75rem;
                background: $fondoopacidad;
                -webkit-backdrop-filter: blur(1.5px);
                backdrop-filter: blur(1.5px);
                z-index: 0;
                transition: all 1s ease;
            }
            &:hover:after {
                bottom: 0rem;
            }
            .descripcion {
                position: absolute;
                text-align: justify;
                padding: 1.25rem;
                font-family: 'Poppins';
                font-size: .875rem;
                color: map-get($colores,claro);
                z-index: 1;
                width: 100%;
                height: 75%;
                bottom: -18.75rem;
                transition: all 1s ease;
                overflow-y: auto;
            }
            &:hover .descripcion {
                bottom: 0rem;
            }
        }
    }
}