@media (max-width: 425px) {
    header {
        max-width: 425px;
        .title {
            font-size: 2rem;
        }
        .links {
            top: 95px;
        }
    }
    footer {
        max-width: 425px;
    }
    .links a {
        font-size: .625rem!important;
    }
}