@media (max-width: 1024px) {
    header {
        max-width: 1024px;
        .title {
            font-size: 3rem;
            -webkit-text-stroke: 1px var(--claro);
        }
        .burgeropen, .burgerclose {
            display: block;
            border: 0;
            font-size: 1.25rem;
            background-color: transparent;
            color: map-get($colores,acento);
            cursor: crosshair;
        }
        .links.visible {
            opacity: 1;
            visibility: visible;
        }
        .links {
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: end;
            position: absolute;
            top: 115px;
            padding: 20px;
            right: 5px;
            -webkit-backdrop-filter: blur(1.5px);
            backdrop-filter: blur(1.5px);
            border: 1px solid #353535;
            background-color: rgba(21, 21, 21, 0.5);
            gap: 1rem;
            ul {
                display: flex;
                flex-direction: column;
                align-items: end;
                gap: 5px;
            }
            a {
                font-size: 0.75rem;
                margin: 0;
            }
        }
    }
    .fullwdw:nth-child(2) {
        padding: 70px 10px 10px 10px;
        align-items: center;
        justify-content: center;
    }
    main {
        h1 {
            font-size: 1.5rem;
            width: 100%;
        }
        #sliders {
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            article:first-child {
                font-size: 0.75rem;
                width: 90%;
                padding: 15px;
            }
        }
    }
    footer {
        max-width: 1024px;
    }
    section.caja1 {
        flex-direction: column!important;
    }
    section.caja2 {
        flex-direction: column-reverse!important;
        margin-top: 1.25rem;
    }
    .caja1 #texto, .caja2 #texto {
        width: 70%!important;
    }
    article#imagen {
        width: 50%!important;
    }
}